@{
    ViewBag.Title = "stafflistedit";
    Layout = "~/Views/Shared/adminmaster.cshtml";
}

@using System.Data;
@using System.Data.SqlClient;
@using timepass.Models;
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<div class="container-fluid">

    <div class="row">
        <center>

            <div style="min-height: 200px; width: 98%; text-align: center; border-bottom-right-radius: 50px; box-shadow: 3px 4px 2px 4px grey; border-top-left-radius: 50px;">
                <div class="row course" style="background: #3a3b3c; max-height: 80px; width:100%; text-align: center; padding: 0.5%; margin-top: 10px; border-top-left-radius: 50px; color: white;margin-left:0px"><h2><strong><a>STAFF LIST</a></strong></h2></div>
                <div class="table-responsive" style="text-align:center">
                    <table class=" table table-hover">
                        <h3>Principal</h3>

                        @{
                            string cmd = "select * from stafflist where designation='PRINCIPAL'";
                            DBmanager db = new DBmanager();
                            DataTable dt = db.GetAllRecords(cmd);
                            if (dt.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        
                                        <td  style="width:300px"></td>
                                        <td>@dt.Rows[i]["name"]</td>
                                        <td style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>
                                       



                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Principal Availble
                                </span>
                            }
                        }
                    </table>
                    <table class=" table table-hover">
                        <h3>Lecturer in Computer science</h3>

                        @{
                            string cmd1 = "select * from stafflist where designation='Computer Science And Engineering'";
                            DBmanager db1 = new DBmanager();
                            DataTable dt1 = db.GetAllRecords(cmd1);
                            if (dt1.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt1.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt1.Rows[i]["name"]</td>

                                        <td  style=" width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt1.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Faculity Availble
                                </span>
                            }
                        }
                    </table>
                    <table class=" table table-hover ">
                        <h3>Lecturer in Civil Engineering</h3>

                        @{
                            string cmd2 = "select * from stafflist where designation='Civil Engineering'";
                            DBmanager db2 = new DBmanager();
                            DataTable dt2 = db.GetAllRecords(cmd2);
                            if (dt2.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt2.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt2.Rows[i]["name"]</td>

                                        <td  style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt2.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Faculity Availble
                                </span>
                            }
                        }



                    </table>
                    <table class=" table table-hover ">
                        <h3>Lecturer in Electrical & Electronics Engineering</h3>

                        @{
                            string cmd3 = "select * from stafflist where designation='Electrical & Electronics Engineering'";
                            DBmanager db3 = new DBmanager();
                            DataTable dt3 = db.GetAllRecords(cmd3);
                            if (dt3.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt3.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt3.Rows[i]["name"]</td>

                                        <td  style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt3.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Faculity Availble
                                </span>
                            }
                        }



                    </table>
                    <table class=" table table-hover ">
                        <h3>Lecturer in Applied Science</h3>

                        @{
                            string cmd4 = "select * from stafflist where designation='Applied Science'";
                            DBmanager db4 = new DBmanager();
                            DataTable dt4 = db.GetAllRecords(cmd4);
                            if (dt4.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt4.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt4.Rows[i]["name"]</td>

                                        <td  style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt4.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Faculity Availble
                                </span>
                            }
                        }



                    </table>
                    <table class=" table table-hover ">
                        <h3>Other Staff</h3>

                        @{
                            string cmd5 = "select * from stafflist where designation='Other Staff'";
                            DBmanager db5 = new DBmanager();
                            DataTable dt5 = db.GetAllRecords(cmd5);
                            if (dt5.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt5.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt5.Rows[i]["name"]</td>


                                        <td  style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt5.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <span>
                                    No Faculity Availble
                                </span>
                            }
                        }



                    </table>
                    <table class=" table table-hover">
                        <h3>Guest Lecturer</h3>

                        @{
                            string cmd6 = "select * from stafflist where designation='Guest Lecturer'";
                            DBmanager db6 = new DBmanager();
                            DataTable dt6 = db.GetAllRecords(cmd6);
                            if (dt6.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt6.Rows.Count; i++)
                                {
                                    <tr style="font-family:Bahnschrift;font-style:italic;text-transform:uppercase">
                                        <td  style="width:300px"></td>
                                        <td>@dt6.Rows[i]["name"]</td>

                                        <td  style="width:300px">
                                            <a href="/Admin/deletstaff?delstaff=@dt6.Rows[i]["sr"]">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <span>If the posts are vacant in any department then arrangement is made by appointing the guest lecturers for the duration of one year on temporary basis against the vacant post.</span>
                            }

                        }



                    </table>

                </div>

            </div>

            <div class="stage" style="margin-top:20px;margin-bottom:50px">
                <a class="btn" href="/ADMIN/ADDSTAFF">ADD NOTICE</a>
            </div>

        </center>


    </div>

</div>
<style>
    .btn {
        font-size: 20px;
        border: none;
        outline: none;
        background: #c38b8b;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }

        .btn::before {
            position: absolute;
            content: "";
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            left: -2px;
            top: -2px;
            background: linear-gradient( 124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3 );
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            animation: move 20s linear infinite;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
        }

        .btn:hover::before {
            opacity: 1;
        }

        .btn::after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #555273;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
</style>





